* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #202020;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    width: 100%;
    max-width: calc(1110px + 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    background: #C4C4C4;
}

.py-rem {
    padding: 50px;
}

.hidden {
    display: none !important;
}

.clearfix {
    display: block;
    clear: both;
}

.float-left {
    float: left;
    /* margin-bottom: 50px; */
    margin-inline: 0 15px;
}

.float-right {
    float: right;
    margin-inline: 10;
}

.wrapper {
    background: #E6E6E6;
    margin-bottom: 50px;
}

.square {
width: 200px;
height: 200px;
background: #FC8F8F;
color: #FFF;
text-align: center;
font-size: 64px;
font-weight: 700;
line-height: 200px;
}

.square-small {
width: 100px;
height: 100px;
background: #FC8F8F;
color: #FFF;
text-align: center;
font-size: 34px;
font-weight: 700;
line-height: 100px;
}

.float-list {
list-style: none;
    float: right;
}

.li-float {
    float: left;
}