:root {
  --container-width: 1100px;
  --basic-space: 1rem;
  --primary-color: #81a36b;
  --secondary-color: #d8d8d6;
  --color-text: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.64;
  font-weight: 400;
  color: var(--color-text);
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

button {
  min-width: 190px;
  min-height: 60px;
  color: var(--color-text);
  font-family: "Roboto";
  font-size: 18px;
  cursor: pointer;
  margin-top: 40px;
}

h2 {
  color: var(--color-text);
  font-family: "Vetrino";
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}

.section-text {
  margin-top: 60px;
}

/* HEADER */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--primary-color);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}

.logo {
  font-family: "Vetrino";
  font-size: 36px;
  line-height: normal;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  flex-grow: 1;
}

/* MAIN-SECTION */

.main-section {
  padding-bottom: 120px;
  background-color: var(--secondary-color);
}

.main-section .container {
  display: flex;
  align-items: center;
}

.main-title {
  font-family: "Vetrino";
  font-size: 62px;
  line-height: normal;
  font-weight: 400;
}

.order-btn {
  background-color: var(--primary-color);
  border: 0px;
  margin-right: 65px;
}

.help-btn {
  border: 1px solid #81a36b;
  background-color: transparent;
}

/* ABOUT-SECTION */

.about-section {
  text-align: center;
  background-color: var(--secondary-color);
  padding-bottom: 120px;
}

.about-section .section-text {
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}

/* ADVANTAGES-SECTION */

.advantages-section {
  background-color: var(--primary-color);
  padding-top: 80px;
  padding-bottom: 80px;
}

.advantages-section .container {
  display: flex;
  justify-content: space-between;
}

.card {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: normal;
}

.card > p {
  margin-top: 20px;
}

/* HOW-SECTION */

.how-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--secondary-color);
}

.how-section .container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.how-work > h2 {
  text-align: center;
}

/* OUR-WORKS-SECTION */

.our-work-section {
  background-color: var(--secondary-color);
  text-align: center;
  padding-bottom: 120px;
}

.our-work-section .wrapper {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.work-card {
  min-width: 350px;
  min-height: 510px;
  background-color: #81a36b;
}

.show-work > img {
  margin-bottom: 23px;
}

.show-work {
  margin: 15px 15px 0px 15px;
}

/* FOOTER-SECTION */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-color);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  gap: 280px;
}

.logo-footer {
  flex-grow: 1;
}

.footer-title {
  margin-bottom: 40px;
  font-family: 'Roboto';
  color: #161616;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.64;
}

.social-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

.copy {
  margin-top: 20px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
